<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <!-- Typed.js-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>
  <title>Text Utils </title>

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
      display: block;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="/">textUtils</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome,</strong> To Text Utils Have Fun...
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="container">
    <form action="/analyze" method="post">
      {% csrf_token %}

      <div class="form-group">
        <h3><span id="typed"></span></h3>

        <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="9"></textarea>

        <!-- Word Counter -->
        <p>
          <!-- <span id="wordCount">0</span> Characters -->
          <script type="text/javascript">
            var exampleFormControlTextarea1 = document.getElementById("exampleFormControlTextarea1");
            var wordCount = document.getElementById("wordCount");

            exampleFormControlTextarea1.addEventListener("keyup", function () {
              var characters = exampleFormControlTextarea1.value.split('');
              wordCount.innerText = characters.length;
            });
          </script>
        </p>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label><br>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch2">
        <label class="custom-control-label" for="customSwitch2">Capital Letters</label><br>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch3">
        <label class="custom-control-label" for="customSwitch3">Newline Remover</label><br>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch4">
        <label class="custom-control-label" for="customSwitch4">Extra Space Remover</label><br>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="numberremover" class="custom-control-input" id="customSwitch5">
        <label class="custom-control-label" for="customSwitch5">Number Remover</label>
      </div>

      <button type="submit" class="btn btn-dark mt-2">Submit </button>
    </form>
  </div>

  <!-- Typed.js DONT TOUCH THIS! -->
  <div id="typed-strings">
  </div>

  <script>
    var typed = new Typed('#typed', {
      strings: ["Enter your text here and let Text Utils do the magic..."],
      backSpeed: 15,
      smartBackspace: true,
      backDelay: 1200,
      startDelay: 1000,
      typeSpeed: 25,
      loop: false,

    });
  </script>

  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <span class="text-light">© 2021 Textutils </span>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js">
  </script>
  <script>
    function validate() {
      var textarea = document.getElementById('exampleFormControlTextarea1').value;
      var span = document.getElementById('messageofvalidate');

      if (textarea == '') {
        span.innerHTML = 'Please Write Your Message';
        return false;
      }

    }
  </script>
</body>

</html>